[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/mickeyf001
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mickeyf001
	label-Verified = -1..+1 group user/mickeyf001
	push = group user/mickeyf001
	read = group user/mickeyf001
	rebase = group user/mickeyf001
	removeReviewer = group user/mickeyf001
	submit = group user/mickeyf001
[access "refs/heads/*"]
	create = group user/mickeyf001
	push = +force group user/mickeyf001
	pushMerge = group user/mickeyf001
	read = group user/mickeyf001
[access "refs/tags/*"]
	push = group user/mickeyf001
	push = +force group user/mickeyf001
